xcuserdata/*
*.xcuserstate
*.xcbkptlist

UnitySocket/Library/
UnitySocket/Library/metadata/
UnitySocket/Library/metadata/*/*
UnitySocket/Temp/
UnitySocket/Temp/*
UnitySocket/Assets/UnityVS/
UnitySocket/Assets/UnityVS.meta
UnitySocket/ProjectSettings/ProjectVersion.txt
UnitySocket/UnitySocket.userprefs

*.csproj
*.sln
*.suo
**/*.apk
**/*.backup

UnitySocket/Temp/UnityLockfile
UnitySocket/Assembly-CSharp.csproj
UnitySocket/ProjectSettings/*
UnitySocket/UnitySocket.sln
UnitySocket/obj/
UnitySocket/obj/Debug/

!UnitySocket/ProjectSettings/ProjectSettings.asset